<%- include("partials/header"); -%>

    <section class="h-screen">
        <div class="px-6 h-full text-gray-800">
            <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
                <div class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0">
                    <img src="public/images/log-in-img.png"
                        class="w-full" alt="Sample image" />
                </div>
                <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
                    <form action="/log-in" method="post">

                        <!-- Email input -->
                        <div class="mb-6">
                            <input type="email"
                                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-fuchsia-900 focus:outline-none"
                                id="exampleFormControlInput2" placeholder="Email address" name="username"
                                autofocus />
                        </div>

                        <!-- Password input -->
                        <div class="mb-6">
                            <input type="password"
                                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-fuchsia-900 focus:outline-none"
                                id="exampleFormControlInput2" placeholder="Password" name="password" />
                        </div>

                        <div class="text-center lg:text-left">
                            <button type="submit"
                                class="flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-md text-fuchsia-900 bg-white border-fuchsia-900 hover:bg-fuchsia-900 hover:text-white leading-snug uppercase shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out">
                                Login
                            </button>
                            <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                                Don't have an account?
                                <a href="/sign-up"
                                    class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out">Sign
                                    Up</a>
                            </p>
                        </div>
                        

                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer"); -%>