<%- include("partials/header"); -%>

    <!-- Jumbotron -->
    <div class="p-12 text-center relative overflow-hidden bg-no-repeat bg-cover" style="
    background-image: url('public/images/what-we-do.jpg');
    height: 100vh;
  ">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.2)">
            <div class="flex justify-center items-center h-full">
                <div class="text-white m-auto w-1/2">
                    <h2 class="font-bold text-4xl mb-4">Fund the next big thing</h2>
                    <h4 class="font-medium text-2xl mb-6">Crowdfunding is the use of small amounts of capital from a
                        large number of individuals to finance a new business venture. Crowdfunding makes use of the
                        easy accessibility of vast networks of people through social media and crowdfunding websites to
                        bring investors and entrepreneurs together, with the potential to increase entrepreneurship by
                        expanding the pool of investors beyond the traditional circle of owners, relatives, and venture
                        capitalists.</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /Jumbotron -->

    <%- include("partials/footer"); -%>